</div>
<!--Close of the page-wrap-->

<footer id="footer" class="footer">
<div class="container">
  <div class="text-center">
    IklanMac™ 2017 - Created by
    <a href="https://github.com/triyanarief">
      Triyan AW
    </a>
    and
    <a href="https://github.com/samuelphsinaga">
      Samuel ph Sinaga
    </a>
    as part of
    <a href="https://www.hacktiv8.com/" target="_blank">
      Fullstack Javascript Bootcamp
    </a>
  </div>
</div>
</footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
