<% include ../partials/header %>
 
  <div class="container">
    <header class="jumbotron">
      <div class="container">
        <h1>Welcome to iklanMac</h1>
        <p>Trusted place to buy and sell your Mac</p>
        <p>
          <a class="btn btn-primary btn-large" href="/lapakmac/new">Start to sell your Mac</a>
        </p>
      </div>
    </header>


    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
      <% lapakmac.forEach(function(lapakmac){ %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="<%= lapakmac.image %>">
            <div class="caption">
                <h4><%= lapakmac.name %></h4>
            </div>
            <p>
              <a href="/lapakmac/<%= lapakmac._id %>" class="btn btn-primary">More Info</a>
            </p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

<% include ../partials/footer %>
